#container {
  animation: responsive 15s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes responsive {
  0%, 100% {
    width: 100%;
  }
  50% {
    width: 110px;
  }
}

body {
  background-color: #5F9EA0;
  margin:0;
}

header {
  background-color: white;
}

header h3 {
  margin: 0;
}
h1 {
  color: darkblue;
  margin: 0;
  padding: 0.05em 0.01em 0.001em 0.001em;
  font-size: 3em;
  /* Fonts taken from fonts.google.com */
  font-family: Lobster Two, Prompt;
  text-align: center;
}

h2 {
  margin: 0;
}

nav {
  background-color: #6666ff;
}

nav ul {
  margin: 0;
  text-align: center;
}

nav li {
  background-color: #ff9933;
  /* color: white; */
  display: inline-flex;
  padding: 0.5em 2em;
  font-size: 1em;
}

nav a {
  color: white;
  display: inline-block;
  /* text-decoration: none; */
}

nav a:hover {
  color: rgb(204, 0, 0);
  /* font-weight: bold; */
}

#calendar {
  /* display: inline-block; */
  width: 250px;
  /* background-color: #ff99ff; */
  float:left;
  color: white;
  margin-left: 30px;
}

#calendar strong {
  color: rgb(255, 190, 255, 190);
}

#calendar ul {
  list-style: none;
  padding-left: 0.5em;
}

#events {
  width: auto;
  /* text-align: center; */
  color: #000;
}

#events strong {
  color: rgb(255, 190, 255, 190);
}

#events ul {
  list-style: none;
  padding-left: 0.5em;
}

#reserved {
  width: auto;
  /* text-align: center; */
  color: #000;
}

#reserved strong {
  color: rgb(255, 190, 255, 190);
}

#reserved ul {
  list-style: none;
  padding-left: 0.5em;
}

section {
  /* display: inline-block; */
  background-color: white;
  margin-left: 255px;
  padding: 0.5em;
  overflow: auto;
  max-width: 950px;
}

section p {
  margin-top: 0;
}

/* section ::after {
  content: "";
  display:block;
  clear:both;
} */

main {
  font-family: Play;
}

span h3 {
  width: 50%;
  margin:auto;;
}

.left {
  float:left;
  margin-right: 0.5em;
}

footer {
  text-align: center;
  margin:1em;
}
